#projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3%;
    align-items: center;
    color: white;
}

#projects h1 {
    margin-top: 5%;
    font-size: 3rem;
    
}

#container {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 3%;
    column-gap: 1.5%;
}

.projectCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}


.projectCard:active,
.projectCard:focus {
    color: inherit; 
    outline: none;  
}

.projectCard img {
    width: 100%;
    height: 65%;
}

.projectCard:hover {
    filter: brightness(120%);
    border: 2px solid white;
}

.projectData {
    padding: 4%;
    flex-grow: 1; 
    height: 35%;
}

.projectData h2 {
    font-size: clamp(1.1rem, 2.8vw, 1.2rem)
}

.projectData h3 {
    color: rgb(152, 188, 197);
    font-size: clamp(1rem, 2.5vw, 1.1rem)
}


@media screen and (max-width: 1500px) {
    #projects {
        height: 100%;
        padding-bottom: 8vh;
    }
}

@media screen and (max-width: 450px) {
    #projects {
        height: 100%;
        padding-bottom: 12vh;
    }
    #container {
        grid-template-columns: 1fr;
        font-size: small;   
    }

}